[tool.poetry]
name = "nonebot-plugin-eventmonitor"
version = "0.0.3"
description = ""
authors = ["schwrzwald <ysjvillmark@gmail.com>"]
license = "GUN"
packages = [
    { include = "nonebot_plugin_eventmonitor", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = "^2.0.0-rc.1"
nonebot-adapter-onebot = "^2.1.3"

[tool.poetry.group.dev.dependencies]
sqlalchemy2-stubs = "^0.0.2a29"
nonebug = "^0.2.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
