name: Release

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python environment
        uses: ./.github/actions/setup-python

      - name: Clean build artifacts
        run: |
          rm -rf dist/
          rm -rf *.egg-info/

      - name: Build Package
        run: poetry build

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          generate_release_notes: true

          files: |
            dist/*.whl
            dist/*.tar.gz
          draft: false
          prerelease: false
          token: ${{ secrets.TOKEN }}

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
