name: NoneBot Plugin CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
      fail-fast: false
      max-parallel: 3

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: |
          poetry install --with httpx
          poetry run nb --version

      - name: Install plugin
        run: |
          poetry install

      - name: Install test tools
        run: |
          poetry install --with dev

      - name: Lint with flake8
        run: |
          poetry run flake8 nonebot_plugin_eventmonitor \
            --count \
            --select=E9,F63,F7,F82 \
            --show-source \
            --statistics

      - name: Run tests
        run: |
          poetry run pytest -v tests/
